node_modules
dist
src/images/disneyplus.svg
/src/images/em_breve
src/images/favicon.ico
src/images/fundo_combo_plus.png
src/images/fundo_rei_leao_celular.png
src/images/fundo_rei_leao.png
src/images/hero_celular.jpeg
src/images/hero_desktop.jpeg
src/images/logos/disney_star_plus.png
src/images/logos/disney_star_plus_sm.png
src/images/logos/disney_star_plus_starzplay.png
src/images/logos/disney_star_plus_starzplay_underline.png
src/images/logos/disneyplus_underline.png
src/images/mais_no_star_plus/belair.jpg
src/images/mais_no_star_plus/libertadores.jpg
src/images/mais_no_star_plus/nba.jpg
src/images/mais_no_star_plus/os_simpson.jpg
src/images/mais_no_star_plus/premier_league.jpg
src/images/mais_no_star_plus/the_kardashians.jpg
src/images/mais_populares/bluey.jpg
src/images/mais_populares/cavaleira_da_lua.jpg
src/images/mais_populares/o_incrivel_dr_pol.jpg
src/images/mais_populares/obi_wan.jpg
src/images/mais_populares/red.jpg
src/images/mais_populares/tudo_igual_sqn.jpg
src/images/tv_pc_tablet_celular.png
