@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 77.56px;

        @media (min-width: 769px) and (max-width: 1023px) {
            margin-top: 50px;
        }
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: flex;
            justify-content: center;
            
        }

        &__item {
            max-width: 50em;
            padding: 1.8em;
            display: flex;
            justify-content: center;
            align-items: center;

            &__texto {
                padding: 1em;
                text-align: center;

                h2 {
                    margin: 0;
                    margin-bottom: .8em;
                    // text-align: start;
                }
            }

            img {
                max-width: 100%;
                border-radius: 4px;
                margin-right: 36px;
            }
        }
    }
    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 50px;
        }

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;

            &:hover {
                background-color: transparent;
            }

            @media (max-width: 768px) {
                font-size: 16px;

                &:hover {
                    background-color: transparent;
                }
            }

            @media (min-width: 769px) and (max-width: 1023px) {
                font-size: 20px;

                &:hover {
                    background-color: transparent;
                }
            }

            @media (min-width: 1024px) and (max-width: 1366px) {
                font-size: 24px;

                &:hover {
                    background-color: transparent;
                }
            }

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }
        }
    }
}